<section id="about">
    <MudContainer MaxWidth="MaxWidth.Medium">
        <MudStack Spacing="3">
            <MudText Typo="Typo.h3">About Me</MudText>
            <MudText Typo="Typo.body1">
                I’m a passionate developer from Aabenraa, Denmark, currently working at Sydbank.
                I enjoy building efficient, scalable, and clean web applications using Blazor and .NET.
            </MudText>
            <MudText Typo="Typo.body1">
                I’m also a long-term investor who loves analyzing companies and creating data tools for smarter investing.
            </MudText>
            <MudText Typo="Typo.body1">
                Outside of coding, I enjoy spending time with my family and staying active.
            </MudText>
        </MudStack>
    </MudContainer>
</section>
