<section id="education">
    <MudContainer MaxWidth="MaxWidth.Medium">
        <MudStack Spacing="3">
            <MudText Typo="Typo.h3">Education</MudText>
            <MudText Typo="Typo.body1">Relevant education and continuous learning in software development and modern web technologies.</MudText>
        </MudStack>
    </MudContainer>
</section>

