@page "/experience"

<section id="experience">
    <MudContainer MaxWidth="MaxWidth.Medium">
        <MudStack Spacing="3">
            <MudText Typo="Typo.h3">Experience</MudText>
            <MudText Typo="Typo.body1">Software developer at Sydbank, focusing on scalable and maintainable web solutions.</MudText>
        </MudStack>
    </MudContainer>
</section>

