<section id="projects">
    <MudContainer MaxWidth="MaxWidth.Large">
        <MudStack Spacing="3">
            <MudText Typo="Typo.h3">Projects</MudText>

            <MudCard>
                <MudImage Src="images/projects/stockapp.jpg" Alt="Stock Insight" />
                <MudCardContent>
                    <MudStack Spacing="2">
                        <MudText Typo="Typo.h6">Stock Insight Tool</MudText>
                        <MudText Typo="Typo.body2">
                            A Blazor app that retrieves and visualizes stock fundamentals using free APIs.
                        </MudText>
                    </MudStack>
                </MudCardContent>
                <MudCardActions>
                    <MudButton Href="https://github.com/username/stock-insight" Target="_blank" Variant="Variant.Text">
                        GitHub
                    </MudButton>
                </MudCardActions>
            </MudCard>
        </MudStack>
    </MudContainer>
</section>
