@page "/"

<Div Margin="Margin.IsAuto.OnX" Padding="Padding.Is5.OnY">
    <Div Flex="Flex.Column.AlignItems.Center.JustifyContent.Center" TextAlignment="TextAlignment.Center">
        <Heading Size="HeadingSize.Is1" Margin="Margin.Is3.FromBottom" TextWeight="TextWeight.Bold" Class="text-gray-900 dark:text-gray-100 !outline-none">
            Jesper Bruhn Riddersholm
        </Heading>
        <Heading Size="HeadingSize.Is3" Margin="Margin.Is3.FromBottom" Class="text-gray-900 dark:text-gray-100">
            Software Developer | .NET & Blazor Specialist
        </Heading>
        <Paragraph Margin="Margin.Is4.FromBottom" Width="Width.Is75" Class="text-gray-900 dark:text-gray-100">
            Passionate software developer crafting modern web applications with .NET and Blazor.
            Turning complex problems into elegant, user-friendly solutions.
            TEST TEST TEST Test test
        </Paragraph>
        <Div Flex="Flex.Row.JustifyContent.Center" Gap="Gap.Is3">
            <Button Size="Size.Large" To="/projects" Class="text-gray-900 dark:text-gray-100">View My Work</Button>
            <Button Size="Size.Large" To="/contact" Class="text-gray-900 dark:text-gray-100">Get In Touch</Button>
        </Div>
    </Div>
</Div>
