@page "/"

<Div Margin="Margin.IsAuto.OnX" Padding="Padding.Is5.OnY">
    <Div Flex="Flex.Column.AlignItems.Center.JustifyContent.Center" TextAlignment="TextAlignment.Center">
        <Heading Size="HeadingSize.Is1" Margin="Margin.Is3.FromBottom" TextWeight="TextWeight.Bold">
            Jesper Bruhn Riddersholm
        </Heading>
        <Heading Size="HeadingSize.Is3" Margin="Margin.Is3.FromBottom" TextColor="TextColor.Secondary">
            Software Developer | .NET & Blazor Specialist
        </Heading>
        <Paragraph Margin="Margin.Is4.FromBottom" Width="Width.Is75">
            Passionate software developer crafting modern web applications with .NET and Blazor.
            Turning complex problems into elegant, user-friendly solutions.
            TEST TEST TEST
        </Paragraph>
        <Div Flex="Flex.Row.JustifyContent.Center" Gap="Gap.Is3">
            <Button Color="Color.Primary" Size="Size.Large" To="/projects">View My Work</Button>
            <Button Color="Color.Secondary" Size="Size.Large" To="/contact">Get In Touch</Button>
        </Div>
    </Div>
</Div>